:root {
  --blue-color: #2aabe4;
  --lightb-color: #9dc8e4;
  --yellow-color: #ffcd24;
  --dark-color: #2a2e31;
  --grey-color: #666b6e;
}

.App {
  width: 65vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 80% 0.5fr;
  background: #fff;
  color: var(--dark-color);
}

@keyframes load-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}


@media (prefers-reduced-motion: no-preference) {
  .load-logo {
    animation: load-logo-spin infinite 20s linear;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
  padding: 0 5px;
}

.message-list > .message {
  max-width: 85%;
  background-color: var(--lightb-color);
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-message {
  align-self: flex-end;
  word-wrap: break-word;
}

.user-message:hover {
  background-color: rgb(118, 153, 228);
  transition: 0.5s ease-out;
}

.user-message .material-icons {
  opacity: 0;
}

.user-message:hover .material-icons {
  opacity: 1;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: end;
}

.text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text .name {
  font-weight: 700;
}

.text .date {
  font-size: 11px;
  align-self: flex-end;
  margin: 5px;
}

#like {
  margin: 0 10px;
  font-size: 1em;
  user-select: none;
}

#like:hover {
  color: lightcoral;
}

.red {
  color: red;
}

.white {
  color: white;
}

.send {
  display: flex;
  align-items: flex-end;
}

.send-field {
  width: 80%;
  height: 85%;
  font-size: 15px;
  padding: 0 10px;
}

.sendBtn {
  width: 20%;
  height: 95%;
  background: var(--yellow-color);
  cursor: pointer;
  border: 1px solid rgb(177, 177, 238);
  user-select: none;
  font-weight: 600;
}

.sendBtn:hover {
  border: 1px solid lightblue;
  background: rgb(177, 177, 238);
}

.edit {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 3px;
  margin-right: 10px;
}

.edit span {
  cursor: pointer;
  user-select: none;
}

.editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor input{
  background-color: transparent;
  border: 0px solid;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.editor span {
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  user-select: none;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > div {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.modal-content > div > div {
  border: 1px solid lightblue;
  margin: 8px;
  border-radius: 25px;
  padding: 7px 17px;
  cursor: pointer;
  user-select: none;
  background-color: var(--yellow-color);
}

.modal-content > div > div:hover {
  background-color: rgb(193, 197, 255);
}

@media (max-width: 960px) {
  .App {
    width: 100%;
  }
} 